<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <!-- <% include ../partials/nav.ejs %> -->

<div class="jumbotron text-center">
  <div class="container">
    <!-- <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a> -->
    <h2><span class="glyphicon glyphicon-chevron-left"><span class="glyphicon glyphicon-chevron-right"> WITH <span class="glyphicon glyphicon-heart"></span> BY PAOLO &amp MICHELE</h2>
    <p>Powered by Heroku</p>
  </div>
</div>
<div class="container">
  
  <hr>
  <div class="row">
    <div class="col-md-6">
     <iframe src="//slides.com/micheledomesi/git/embed" width="576" height="420" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="col-md-6">
      
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
   Copyright: PaoloCalvaresi / Michele Domesi
  </div>
</div>


</body>
</html>
