<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <div class="jumbo" ></div>

<div class="text-center header">
  <div class="container">
    <p>Powered by <img src="https://blog.phusion.nl/content/images/2016/07/Heroku.png" width="100"></p>
  </div>
</div>
  <hr>

<div class="container">

  <div class="row" style="padding:40px 0">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
     <iframe src="//slides.com/micheledomesi/git/embed" width="576" height="420" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
   
  
   
  </div> <!-- row -->
</div>

<div class="footer">
  <div class="container">
    <p><span class="glyphicon glyphicon-chevron-left"><span class="glyphicon glyphicon-chevron-right"> WITH <span class="glyphicon glyphicon-heart" style="color:#b40202"></span> BY PAOLO &amp MICHELE</p>
  </div>
</div>


</body>
</html>
